@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #615F5F;
}

/* -------------------------------NAV BAR------------------------------------ */
.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1-div1{
    margin-top: 20px;
}
.logoAraruna{
    background-color: rgb(75, 70, 68);
    width: 53px;
    height: 53px;
    border-radius: 50px;
}

a{
    text-decoration: none;
}
.navBar-div2{
    display: flex;
    text-align: center;
    gap: 40px;
    font-size: 20px;
    color: black;
}

.navBar-div2-a{
    color: black;
    font-family: 'Manrope', sans-serif;
}
.navBar-div2-a:hover{
    color: #22A68E;
}

hr{
    margin-top: 20px;
}

/* ---------------------------------------------------------------------------- */




/*-------------------------------Usuario----------------------------------------*/

.section2{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin: 0;
}
.section2-div2{
    display: flex;
    background-color: #F5F7FB;
    width: 370px;
    height: 378px;
    border-radius: 50px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}

.section2-div2-div1-div1{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section2-div2-div1{
    background-color: #FFFFFF;
    width: 350px;
    height: 296px;
    margin-top: 12px;
    border-radius: 50px;
}

.userImg{
    width: 90px;
    height: 90px;
    margin: 20px 0 0;
    border-radius: 50px;
}

.userName{
    font-size: 15px;
    width: 218px;
    height: 18px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-top: 20px;
}

li{
    list-style: none;
}

ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    width: 211px;
    color: #615F5F;
}

.section2-div2-div1-divBtn{
    margin: 10vh 2vw 0;
    width: 144px;
}

.btnUser{
    background-color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 144px;
    height: 27px;
    font-family: 'Inter', sans-serif;
    transition: 300ms ease-in-out;
}

.btnUser:hover{
    background-color: rgb(6, 6, 6, 17%);
}

.section2-div2-div2{
    display: flex;
    width: 94px;
    height: 40px;
    display: flex;
    margin: 11px 29px 19px 247px;
    gap: 14px;
}

.imgPhone,.imgChat{
    width: 40px;
    height: 40px;
    transition: 1s;
}
.imgPhone:hover,.imgChat:hover{
    transform:scale(1.1) ;
}